.projectsheet {
	border: solid black;
	border-radius: 10px;
	height: 600px;
	width: 40%;
}

.projectheading {
	border:none;
	color: blue;
}

/* actionsheet */
#actionsheet {
	width: 80%;
}

#lastdone {
	text-decoration: line-through;
}

#doing  {
	font-size: 300%;
}







