<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Projektihaldur</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

	<div class="bigbox"> 
	<h3> NIMEKIRJAHALDUR</h3>

	<form action="?page=login" method="POST">
		<input class="formbox"  type="text" name="username" placeholder="Kasutajanimi"><br>
		<input class="formbox"  type="password" name="password" placeholder="Parool"><br>
		<button class="formbox btn" type="submit" name="login">Logi sisse!</button>
</form>
	<p> Demo testimiseks on kasutajanimi <b>Testkasutaja</b> ja salasõna <b>test</b> </p>
	</div>

	
</body>
</html>