<?php
require_once('functions.php');
connect_db();

if(isset($_POST['projectid'])&& $_POST['projectid'] !== 'new'){
$tasks=get_array("task_ID", "ltaimre_tasks", "project_ID", $_POST['projectid']); 
$result=mysqli_query($GLOBALS['connection'], "SELECT * FROM ltaimre_projects WHERE project_ID=".$_POST['projectid']);
$projectRow=mysqli_fetch_array($result);
$project=$projectRow["projectname"];
//$class="actionlist";
}
else 
	{

$project="Sisesta projekti pealkiri";
//$class="newlist";
}
?>


<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>Projekt</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="script.js"></script> 
	</head>
	<body>
	
	<div class="bigbox"> 
	<div class="button-border">
	<button class="formbox btn right" id="change">Muuda</button>
	<input type="button" class="formbox btn right" id="salvestusnupp" onclick='savelist("taskelement")' value="salvesta">
	</div>
	
	<div class="actionbox">
		<h1 class="newlist tasklist" contenteditable=true draggable=true ondragstart="drag(event)"> <?php echo $project ?></h1>
		</br>
		

	
		
		
		<ul id="sortable">
			
		<?php 
			foreach ($tasks as $task):
			$result=mysqli_query($GLOBALS['connection'], "SELECT * FROM ltaimre_tasks WHERE task_ID=".$task);
			$taskRow=mysqli_fetch_array($result); 
			
			?>	
			
			
			<li class="taskelement undone">
			<?php echo $taskRow["taskname"]?>
			<input class="chbx" onclick='done(this)' name="jee" type = "checkbox" />
			</li>
			<?php endforeach ?>

			</ul>
		
			<input id="newtask" type="text" >
			<input type='button' onclick='additem()' value='Submit'/> 
			
			<?php if(isset($_POST['name'])) {
				echo $_POST['name'];
				}
				
			?>


	
			

</div>
				
	</div>
		
	<body>
<html>
	
